<div class="row mb-5 top-bar" style="background-color: black; padding: 70px">
    <div class="col">
        <h1 style="text-align: center; color: white; ">My Bookstore</h1>
    </div>
</div>

<h2 class="mb-5" style="text-align: center;">Search by Alphabets</h2>

<div class="d-flex justify-content-start flex-wrap">

{{#each letterArr}}
<form method="GET" action="/{{this}}/1">
    <input type="hidden" class="form-control" name="q" value="{{this}}">
    <button type="submit" class="btn btn-info btn-lg letter">{{this}}</button>
</form>

{{/each}}

</div>

<hr>
<h2 class="my-5" style="text-align: center;">Search by Numbers</h2>


<div class="d-flex justify-content-start flex-wrap mb-5">

{{#each numArr}}
<form method="GET" action="/{{this}}/1">
    <input type="hidden" class="form-control" name="q" value="{{this}}">
    <button type="submit" class="btn btn-info btn-lg letter">{{this}}</button>
</form>

{{/each}}

</div>